// Hero styles start
.hero-wrapper{
    max-width: 1300px;
    padding: 117px 0 116px 85px;
    background-image: url(../images/hero-bitmap-bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.hero-content__title {
    @include color();
    width: 493px;
    height: 145px;
    margin-bottom: 32px;
    font-family: 'Fraunces 9pt Soft';
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
}
.hero-content{
    width: 444px;
}
.hero-content__content{
    width: 444px;
    height: 78px;
    @include color();
    margin-bottom: 56px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.hero-content__link {
    width: 155px;
    height: 25px;
    font-family: 'Fraunces 9pt Soft';
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include color();

    width: 217px;
    height: 56px;
    background: #0E8784;
    border-radius: 6px;
    transition: background-color 0.4s linear;
    &:hover{
        background-color: #66D2CF;
    }
    &:disabled{
        background-color: #E2DEDB;
    }
}
// Hero styles end 

@media only screen and (width:1230px){
    .hero-wrapper{
        margin-top: 90px;
    }
    .hero-content{
        width: 100% auto;
    }
    .hero-content__title{
        width: 100%;
        height: auto;
    }
    .hero-content__content{
        width: 100%;
        height: auto;
    }
    .hero-content__link{
        width: 100%;
        height: auto;
    }
}
@media only screen and (width:800px){
    .hero-wrapper{
        width: 100%;
        height: auto;
        background-image: url(../images/Bitmap.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 15px;
    }
        .hero-content__content{
        width: 100%;
    }
}
@media only screen and (width:630px){
    .hero-wrapper{
        width: 100%;
        height: auto;
        background-image: url(../images/mobile-bitmap-bg.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 15px;
    }
    
    
}
@media only screen and (width:579px){
    .hero-wrapper{
    background-image: url(../images/mobile-bitmap-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    }
    .hero-content__content{
        width: 100%;
    }
} 